<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
    <link rel="stylesheet" href="{% static 'css/product_page.css' %}">
    <link rel="icon" href="{% static 'images/fav_icon.png' %}" type="image/png">
</head>
<style>
  .form-control:focus {
    border-color: none;
    box-shadow: none;
    outline: none;
}

.form-control {
    border-radius: 0;
}
</style>
<body>
        <!-- header start -->
        <header class="header" style="background-color: #f5f5dc; ">
          <div class="containers">
            <div class="rows v-center">
              <div class="header-item item-left">
                <div class="logo">
                  <a href="/">
                    <img src="{% static 'images/logo.png' %}" alt="">
                  </a>
                </div>
              </div>
              <!-- menu start here -->
              <div class="header-item item-center">
                <div class="menu-overlay"></div>
                <nav class="menu">
                  <div class="mobile-menu-head">
                    <div class="go-back"><i class="fa fa-angle-left"></i></div>
                    <div class="current-menu-title"></div>
                    <div class="mobile-menu-close">&times;</div>
                  </div>
                  <ul class="menu-main" style="padding-left: 0px;">
                    <li>
                      <a href="/" style="text-decoration: none;">Home</a>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="#"style="text-decoration: none;">New <i class="fa fa-angle-down"></i></a>
      <div class="sub-menu mega-menu mega-menu-column-4">
        <!-- Loop through the product types -->
        {% for product_type in product_types %}
        <div class="list-item text-center">
            <!-- Link to the specific product type page -->
            <a href="{% url 'product_type_page' product_type.id %}" style="text-decoration: none;">
                <!-- Display the product type image -->
                <img src="{{ product_type.image.url }}" alt="{{ product_type.name }}"  />
                <!-- Display the product type name as heading -->
                <h4 class="title">{{ product_type.name }}</h4>
            </a>
        </div>
        {% endfor %}
      </div>
      
                    </li>
                    <li class="menu-item-has-children">
                      <a href="#" style="text-decoration: none;">Shop <i class="fa fa-angle-down"></i></a>
                      <div class="sub-menu mega-menu mega-menu-column-4">
                          {% for product_type in product_types %}
                          <div class="list-item">
                              <h4 class="title">{{ product_type.name }}</h4>
                              <ul>
                                  {% for category in categories %}
                                  {% if category.product_type == product_type %}
                                  <li><a href="{% url 'category_view' category.id %}" style="text-decoration: none;">{{ category.name }}</a></li>
                                  {% endif %}
                                  {% endfor %}
                              </ul>
                          </div>
                          {% endfor %}
                          <!-- <div class="list-item">
                              <img src="https://images.unsplash.com/photo-1549497538-303791108f95?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=761&q=80" alt="Chair" />
                          </div> -->
                      </div>
                  </li>
                  <li>
                    <a href="{% url 'contact_page' %}" style="text-decoration: none;">About Us</a>
                  </li>
      
                    <li>
                      <a href="{% url 'contact_page' %}" style="text-decoration: none;">Contact</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#" style="text-decoration: none;"><i class="fa-solid fa-user"></i> <i class="fas fa-angle-down"></i></a>
                        <div class="sub-menu single-column-menu">
                          <ul>
                            <li><a href="{% url 'logout' %}" style="text-decoration: none;">Logout</a></li>
                            <li><a href="{% url 'signup_page' %}" style="text-decoration: none;">Register</a></li>
                            <li><a href="{% url 'user_orders' %}" style="text-decoration: none;">Order</a></li>
                            <li><a href="{% url 'user_customize_orders' %}" style="text-decoration: none;">Customized Order</a></li>
                            
                          </ul>
                        </div>
                      </li>
                  </ul>
                </nav>
              </div>
              <!-- menu end here -->
              <div class="header-item item-right">
                <a href="{% url 'wishlist' %}" style="text-decoration: none;"><i class="far fa-heart"></i></a>
                <a href="{% url 'cart_page' %}" style="text-decoration: none;">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="cart-quantity-badge">{% if cart_quantity is not None %}{{ cart_quantity }}{% else %}0{% endif %}</span>
                </a>
                <!-- mobile menu trigger -->
                <div class="mobile-menu-trigger">
                  <span></span>
                </div>
              </div>
            </div>
          </div>
        </header>
  
        <!-- header end -->
          <div class="container-fluid" style="margin-top: 120px;">
            <div class="row">
                <!-- Filtering Section -->
                <div class="col-md-12 mb-3 d-flex justify-content-center">
                  <input type="text" class="form-control" id="searchInput" placeholder="Search..." style="width: 60%;">
                </div>
                <div class="col-md-3">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">Filter Products</h5>
                          

                          
                          <!-- Price Sorting -->
                          <div class="mb-3">
                              <h6>Sort by Price</h6>
                              <div class="form-check">
                                  <input class="form-check-input" type="radio" name="priceSort" value="asc" id="lowToHigh">
                                  <label class="form-check-label" for="lowToHigh">
                                      Low to High
                                  </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="radio" name="priceSort" value="desc" id="highToLow">
                                  <label class="form-check-label" for="highToLow">
                                      High to Low
                                  </label>
                              </div>
                          </div>
      
                          <!-- Alphabetical Filter -->
                          <!-- <div>
                              <h6>Alphabetical</h6>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="sortType" value="alpha" id="sortAlpha">
                                <label class="form-check-label" for="sortAlpha">
                                    A to Z
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="sortType" value="alphaDesc" id="sortAlphaDesc">
                                <label class="form-check-label" for="sortAlphaDesc">
                                    Z to A
                                </label>
                              </div>
                          </div> -->
                      </div>
                  </div>
              </div>
        
                <!-- Product Cards -->
                <div class="col-md-9">
                    <div class="product-card-container" id="productContainer">
                        {% for product in products %}
                        <!-- Product Card -->
                        <div class="product-card" data-price="{{ product.original_price }}">
                            <a href="{% url 'product_detail' product.slug %}">
                                <img class="product-image" src="{{ product.images.first.image.url }}" alt="{{ product.heading }}">
                                <div class="product-title">{{ product.heading }}</div>
                            </a>
                            <div class="average-rating text-center mt-3" style="color: #FFD700;">
                              {% for _ in product.stars_representation.full_stars %}
                                  <i class="fas fa-star"></i>
                              {% endfor %}
                              {% if product.stars_representation.half_star %}
                                  <i class="fas fa-star-half-alt"></i>
                              {% endif %}
                              {% for _ in product.stars_representation.empty_stars %}
                                  <i class="far fa-star"></i>
                              {% endfor %}
                              ({{ product.reviews.count }} Reviews))
                          </div>
                            <div class="product-price">
                                <span class="original-price">₹{{ product.original_price }}</span>
                                {% if product.discount_price %}
                                    <span class="discount-price">₹{{ product.discount_price }}</span>
                                {% endif %}
                            </div>
                            <button class="product-button">Buy Now</button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer-section">
          <div class="container">
              <div class="row">
                  <!-- Our Shop Links -->
                  <div class="col-md-3 col-sm-6 footer-col">
                      <h5 class="text-center">Our Shop</h5>
                      <ul class="footer-links mt-3">
                        {% for product_type in product_types %}
                          <li><a href="{% url 'product_type_page' product_type.id %}">{{ product_type.name }}</a></li>
                          
                          {% endfor %}
                      </ul>
                  </div>
                  
                  <!-- Quick Links -->
                  <div class="col-md-3 col-sm-6 footer-col">
                      <h5 class="text-center">Quick Links</h5>
                      <ul class="footer-links mt-3">
                          <li><a href="/">Home</a></li>
                          <li><a href="#">About Us</a></li>
                          <li><a href="{% url 'contact_page' %}">Contact Us</a></li>
                      </ul>
                  </div>
                  
                  <!-- Help -->
                  <div class="col-md-3 col-sm-6 footer-col">
                      <h5 class="text-center">Help</h5>
                      <ul class="footer-links mt-3">
                          <li><a href="{% url 'contact_page' %}">Contact Us</a></li>
                          <li><a href="#">Terms And Conditions</a></li>
                      </ul>
                  </div>
                  
                  <!-- Subscribe Section -->
                  <div class="col-md-3 col-sm-6 footer-col">
                      <h5 class="text-center">Follow Us</h5>
                      
                      <div class="social-links mt-3">
                          <a href="#"><i class="fab fa-instagram"></i></a>
                          <a href="#"><i class="fab fa-facebook-f"></i></a>
                          <a href="#"><i class="fab fa-youtube"></i></a>
                          <a href="#"><i class="fab fa-whatsapp"></i></a>
                      </div>
                  </div>
              </div>
              
              <!-- Copyrights -->
              <div class="row mt-4">
                  <div class="col-12 text-center">
                      <p>&copy; 2024 All Rights Reserved</p>
                  </div>
              </div>
          </div>
        </footer>
        


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="{% static 'javascript/script.js' %}"></script>

<script>
    document.querySelectorAll('input[name="priceSort"]').forEach((elem) => {
        elem.addEventListener('change', function() {
            sortProductsByPrice(this.value);
        });
    });

    function sortProductsByPrice(order) {
        const productContainer = document.getElementById('productContainer');
        const productCards = [...productContainer.querySelectorAll('.product-card')];
        
        productCards.sort((a, b) => {
            const priceA = parseFloat(a.getAttribute('data-price'));
            const priceB = parseFloat(b.getAttribute('data-price'));

            if (order === 'asc') {
                return priceA - priceB;
            } else {
                return priceB - priceA;
            }
        });

        // Clear and append sorted product cards to the container
        productContainer.innerHTML = '';
        productCards.forEach(card => productContainer.appendChild(card));
    }
    document.addEventListener('DOMContentLoaded', function() {
        const searchInput = document.getElementById('searchInput');
        
        // Search functionality
        searchInput.addEventListener('input', function() {
            const searchTerm = searchInput.value.toLowerCase();
            const productCards = document.querySelectorAll('.product-card');

            productCards.forEach(card => {
                const title = card.querySelector('.product-title').innerText.toLowerCase();

                if (title.includes(searchTerm)) {
                    card.style.display = 'block';
                } else {
                    card.style.display = 'none';
                }
            });
        });
    });
</script>
</body>
</html>